<div class="">
    <div class="d-flex justify-content-center subtitle">
        <h2 style="padding: 8px;">[</h2>
        <div style="padding-top: 20px;">
            Making your Life Easier
        </div>
        <h2 style="padding: 8px;">]</h2>
    </div>
    <div>
        <div>
            <h1 class="display-2" style="font: bolder;">
                Discovering the World
            </h1>
            <div class="row">
                <button class="col btn btn-light btn-outline-dark btn-lg">All</button>
                <button class="col btn btn-light btn-outline-dark btn-lg">Travel</button>
                <button class="col btn btn-light btn-outline-dark btn-lg">Lifestyle</button>
                <button class="col btn btn-light btn-outline-dark btn-lg">Bussiness</button>
                <button class="col btn btn-light btn-outline-dark btn-lg">Fired</button>
                <button class="col btn btn-light btn-outline-dark btn-lg">Wjxk</button>
            </div>
        </div>
        <div>
            <button>
                <img src="" alt="Pencil image">
            </button>
        </div>
    </div>
</div>